!!!
%html
  %head
    = render 'shared/head'
  %body
    = yield
    %nav.bar.bar-standard.bar-footer
      .segmented-control
        %a.control-item.active Thing one
        %a.control-item Thing two
        %a.control-item Thing three