/ Make sure all your bars are the first things in your <body>
%header.bar.bar-nav
  %a.icon.icon-compose.pull-right(href='index-rachet')
  %h1.title Emula
/ Wrap all non-bar HTML in the .content div (this is actually what scrolls)
.content
  %p.content-padded Welcome to the Emula. The slowest sending mail app ever.
  .content-padded
    %a(href='index-rachet' data-transition='slide-in') Write your mail