.bar-nav
.content
  .content-padded
    %a(href='index-home')
      %img#splash(src="splash.png")
    %audio(id="id1" src="")

:javascript
  var audioElement = document.createElement('audio');
  audioElement.setAttribute('src', 'asino-verso.mp3');
  
  $('#splash').click(function(){
    audioElement.play()
  })