/ Make sure all your bars are the first things in your <body>
%header.bar.bar-nav
  
  %a.icon.pull-left(href='index')
    %img(src='logo.png' height="25")
  
  %h1.title 
    Mail
  %a.icon.icon-info.pull-right
/ Wrap all non-bar HTML in the .content div (this is actually what scrolls)

.content
  
  .card
    .content-padded
      %form
        .input-group
          .input-row
            %label From
            %input{type: "email", placeholder:'stefano@pinpix.it', disabled:"true"}/
          .input-row
            %label To
            %input{type: "email"}/
        
          .input-row
            %label Message
            %input#text-input{type: "text", maxlength: 10}/


  .content-padded
    #output
    #output-binary



.bar.bar-standard.bar-footer-secondary
  .btn.btn-positive.btn-block Send

%script{src: "js/script.js"}

%nav.bar.bar-standard.bar-footer
  .segmented-control
    %a.control-item.active Mail
    %a.control-item(href='index-map') Maps
    %a.control-item(href='index-gallery') Gallery