/ Make sure all your bars are the first things in your <body>
%header.bar.bar-nav
  %a.icon.pull-left(href='index.html')
    %img(src='logo.png' height="25")
  %h1.title 
    Gallery
/ Wrap all non-bar HTML in the .content div (this is actually what scrolls)
.content
  .slider#mySlider
    .slide-group
      .slide
        %img(src="/img/1.jpg")
        %span.slide-text
          %span.icon.icon-left-nav"
          Slide me
      .slide
        %img(src="/img/2.jpg")
      .slide
        %img(src="/img/3.jpg")
%nav.bar.bar-standard.bar-footer
  .segmented-control
    %a.control-item(href='index-mail.html') Mail
    %a.control-item(href='index-map') Map
    %a.control-item.active Gallery