%meta{charset: "utf-8"}/
%title Emula
/ Sets initial viewport load and disables zooming
%meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui", name: "viewport"}/
/ Makes your prototype chrome-less once bookmarked to your phone's home screen
%meta{content: "yes", name: "apple-mobile-web-app-capable"}/
%meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
/ Include the compiled Ratchet CSS
%link{href: "css/ratchet/ratchet.css", rel: "stylesheet"}/
/ Include the compiled Ratchet JS
%script{src: "js/ratchet.js"}
%script{src: "js/fingerblast.js"}
%script{src: "js/jquery.js"}
:javascript
  $('document').ready(function(){
    var fb = new FingerBlast ('body');
  })
:css
  .slide img{
    min-width: 100%;
    max-width: 100%;
  }
  #output-quadrati{
    width: 287px;
    margin: 0 auto;
    margin-top: 10px
  }
  .quadrato {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
  }

  .nero {
    background-color: black;
  }
  .bianco {
    background-color: white;
    border: 1px solid #000;
  }
